h2 {
  font-size: 1.25rem;
  margin: 0.875rem 0;
}

ion-content {
  --ion-background-color:#5787D0;
}

#product-alert-inserted {
  color: #ffffff;
}

ion-item {
  --background: #fcfcfc;
  --border-color: transparent;
}

ion-input {
  --placeholder-color: #0a0a0a;
  color: #0a0a0a;
}

ion-row {
  border: 1px solid rgba(231, 200, 200, 1);
}

ion-button {
  font-size: 	0.875rem;
}
